.payment-container {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    opacity: 0.8;
    height: 70vh;
    width: 100vw;
}

.shopping-cart {
    display: grid;
    grid-template-rows: 1fr 3fr;
    background: grey;
}

.checkout {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 3fr;
}